# Fine Tuning
max_allowed_packet        = 20M
thread_stack              = 192K
myisam-recover            = BACKUP
max_connections           = 2048
open_files_limit          = 32768

# Buffers and Caches
table_cache               = 8192
tmp_table_size            = 256M
sort_buffer_size          = 12M
read_buffer_size          = 1M
read_rnd_buffer_size      = 8M
join_buffer_size          = 1M
key_buffer_size           = 128M
character_set_server      = utf8
collation_server          = utf8_general_ci

init-connect = 'SET NAMES utf8'
default-time-zone         = utc
innodb_buffer_pool_size   = 4096M
innodb_log_buffer_size    = 32M
innodb_log_file_size      = 768M
innodb_thread_concurrency = 24
thread_cache_size         = 64
thread_concurrency        = 32

query_cache_limit         = 2M
query_cache_size          = 768M

log_output=file
slow_query_log=ON
long_query_time=0
log_slow_rate_limit=100
log_slow_rate_type=query
log_slow_verbosity=full
log_slow_admin_statements=ON
log_slow_slave_statements=ON
slow_query_log_always_write_time=1
slow_query_log_use_global_control=all
innodb_monitor_enable=all
userstat=1