.DS_Storemnt/cassandra/db_data
mnt/couchdb/db_data
mnt/elastic/db_data
mnt/mongodb/db_data
mnt/percona/db_data
mnt/redis/db_data
mnt/riak/db_data
*.DS_Store
cassandra/db_data
couchdb/db_data
elastic/db_data
mongodb/db_data
percona/db_data
redis/db_data
riak/db_data
nginx/logs/error.log
elasticsearch/db_data/
elasticsearch/db_data/nodes
elasticsearch/db_data/nodes/0/_state/node-0.st
elasticsearch/db_data/nodes/0/node.lock
elasticsearch/db_data/nodes/0/_state/global-0.st
